{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:import/recommended",
    "prettier"
  ],
  "plugins": ["import"],
  "rules": {
    "import/prefer-default-export": ["off", { "target": "single" }],
    "import/extensions": ["always"]
  }
}
