$background_body: #aabab5eb;
$background_monitor: #000;
$background_button: #cccccc;
$background_button_active: #c5c9e021;
$background_button_hover: #c5c9e021;
$background_wrap_keyboard: #80960a;

$shadow_color_monitor: #404040;
$shadow_color_button_active: #010101;
$border_color: #000;
$monitor_color: green;
$arrow_color: #000;
$title_color: #332a1f;

$keyboard_backg_gradient_one: rgb(53 148 210);
$keyboard_backg_gradient_two: rgb(165 39 28);

$keyboard_shadow_gradient_one: rgb(148 37 24 / 92%);
$keyboard_shadow_gradient_two: rgb(131 207 215);
$keyboard_shadow_gradient_three: rgb(6 4 4 / 80%);
