* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.wrapper_monitor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 230px;
    border: solid 1px #000;
    background: linear-gradient( 189deg, rgb(53 148 210), rgb(165 39 28));
    box-shadow: inset rgb(148 37 24 / 92%) -7px 5px 17px, inset rgb(131 207 215) 7px 0px 7px, rgb(6 4 4 / 80%) 0px 0px 4px 3px;
    border-radius: 20px;
    .monitor {
        width: 530px;
        height: 180px;
        resize: none;
        background: #000;
        caret-color: green;
        color: green;
        font-size: 22px;
        outline: none;
        -moz-appearance: none;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0px 0px 0px 10px #404040;
    }

}

.wrapper_keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 704px;
    height: 251px;
    border-radius: 5px;
    padding: 10px;
    background: #80960a;
    box-shadow: inset rgb(148 37 24 / 92%) -360px 0px 15px, inset rgb(131 207 215) 280px 222px 14px, rgb(6 4 4 / 80%) 0px 0px 1px 5px;
    .line {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 7px;
        column-gap: 4px;
        .button {
            width: 40px;
            height: 40px;
            border: solid 1px #000;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            background: #c4d7def0;
            border-radius: 5px;
            box-shadow: 2px 2px 2px 1px #000;
        }
        .backspace {
            width: 100px;
        }
        .tab {
            width: 50px;
        }
        .delete {
            width: 44px;;
        }
        .capsLock {
            width: 86px;
        }
        .enter {
            width: 86px;
        }
        .shift {
            width: 84px;
        }
        .space {
            width: 330px;
        }
    }
}

